#next-button{
    height: 50px;
    width: 150px;
    background-color: dodgerblue;
    color: white;
}
input {
    text-align: left; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

