.App {
  text-align: center;
  background-image: url('./wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
header {
  height: 150px; 
}
table{
  width: 80%;
  text-align: center;
  margin-left: 10%; 
  margin-right: 10%;
  margin-top: 5%; 
}
th {
  background-color: lightsteelblue;
  height: 50px; 
  text-align: center; 
  padding: 15px; 
  border-bottom: 1px solid #ddd;
}

td {
  height: 50px; 
  text-align: center; 
  padding: 15px; 
  border-bottom: 1px solid #ddd;
  background-color: whitesmoke;
}
tr:hover {
  background-color: black;
}
#site-title {
  float: left; 
  margin-top: 50px; 
  margin-left: 20px; 
  font-size: 60px;
}
#total-container {
  float: right;
  padding: 25px;
  margin-top: 85px;
  color: white;
}
button {
  font-size: 1em;
  border: 1px transparent;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
button:hover {
  filter: brightness(0.95);
}
button:active {
  filter: brightness(0.85);
  box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset;
}
button.add-pizza {
  background-color: forestgreen;
  color: white;
}
button.remove-pizza {
  background-color: firebrick;
  color: white;
}
button.next-page {
  height: 50px;
  width: 150px;
  background-color: dodgerblue;
  color: white;
}
button.prev-page {
  height: 50px;
  width: 150px;
  background-color: gainsboro;
  color: dimgray;
}