p {
    font-size: 20px;
    text-align: left;
}

span {
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.address {
    margin-left: 10px;
    width: 50%;
}

.type {
    float: right;
    text-align: center;
    border: double;
    width: 50%;
    height: 20%;
    margin-top: 80px;
}